<div class="apple-store-wrapper">
  <h3>Apple Api Store Settings</h3>
  <button color="primary" mat-raised-button="" class="mat-raised-button mat-primary" (click)="openSettingModal()">
    <span class="mat-button-wrapper">Add New</span>
  </button>

  <div class="added-settings">
    <table mat-table [dataSource]="dataList">

      <!-- Status Column -->
      <ng-container matColumnDef="is_active">
        <th mat-header-cell *matHeaderCellDef class="width-5"> Status </th>
        <td mat-cell *matCellDef="let element">
          <span class="status" [ngClass]="(element?.is_active)?'active': 'in-active'"></span>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="width-20"> App Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- App Id Column -->
      <ng-container matColumnDef="app_id">
        <th mat-header-cell *matHeaderCellDef class="width-20"> App Id </th>
        <td mat-cell *matCellDef="let element"> {{element.app_id}} </td>
      </ng-container>

      <!-- Create at Column -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef class="width-25"> Date Created </th>
        <td mat-cell *matCellDef="let element"> {{ displayDate(element.created_at) }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="width-30"> Actions </th>
        <td mat-cell *matCellDef="let element">
          <span (click)="openSettingModal(element)">Edit</span>
          <span (click)="toggleStatus(element._id)">{{ (element.is_active) ? 'Deactivate' : 'Activate' }}</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>