$nav-width: 165px;
$nav-height: 38px;

$nav-font: 14px;

$default-white: white;
$default-black:black;
$transparent-bg: transparent;

$tab-borders: 1px solid #dcdcdc;

$nav-bg: #fafafa;
$nav-color: #666666;
$nav-act-bg: #f2f2f2;
$nav-act-color: #283991;

$act-color: #283991;
$anchor-color: #0000EE;

$loading-text: 26px;
$mobile-width: 767px;
$font-medium: 18px;

$green: green;
$red: red;